@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Source Serif Pro", serif;
  background-color: rgb(253, 250, 250);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
  background-color: rgb(218, 218, 218, 0.1);
}
.container {
  width: 100%;
  margin: auto;
  max-width: 1200px;
  height: 4rem;

  /* border: 1px solid rgb(172, 169, 169);
    padding-left: 11.4rem;
    padding-right: 11.4rem;
    padding-bottom: 1rem; */
}
.main {
  background-color: rgb(243, 242, 242);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid rgb(209, 207, 207);
}
.leftHeader {
  display: flex;
  flex-direction: row;
  background-color: rgb(243, 242, 242);
}
.mainHeading {
  margin-top: 1rem;
  background-color: rgb(243, 242, 242);
}
.mainHeading1 {
  margin-top: 0.5rem;
}
.myDrop {
  height: 60px;
  overflow: auto;
}
.category {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 48rem;
  background-color: rgba(0, 0, 0, 0);
}
.category h2,
h1 {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
.category h2:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.heading {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32rem;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  font-size: 2.5rem;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.head a {
  padding-top: 1rem;
}
.imageLogo {
  width: 4.5rem;
  height: 4.5rem;
  margin-top: -0.5rem;
  background-color: rgb(243, 242, 242);
}
.imageLogo1 {
  width: 4.5rem;
  height: 4.5rem;
  margin-top: -0.5rem;
}
/* .hamburgerMenulogo {
  width: 2.5rem;
  height: 2.5rem;
} */
.rightHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: -4.7rem;
  background-color: rgb(243, 242, 242);
}
.rightHeader div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 242, 242);
}
.rightHeader h3 {
  margin-top: 1rem;
  padding: 1rem;
  margin-left: 0.3rem;
  cursor: pointer;
  background-color: rgb(243, 242, 242);
}

/* .rightHeader img {
    width: 1.2rem;
    height: 1.2rem;
    margin-bottom: 1.2rem;
    padding-top: 1.1rem;
    background-color: rgb(187, 181, 181);
  } */

.searchButton a {
  color: white;
}
.landingImage1 {
  margin: auto;
  max-width: 1200px;
}
.landingImage1 img {
  width: 100%;
  max-width: 1600px;
  height: auto;
  border-radius: 20px;
  margin-top: 2rem;
}
.rightHeader h3:hover {
  background-color: rgb(218, 218, 218);
  border-radius: 3rem;
}

.landingImage {
  margin: auto;
  max-width: 1200px;
}

.landingImage img {
  width: 100%;
  max-width: 1600px;
  /* height: auto; */
  border-radius: 20px;
  margin-top: 1rem;
  opacity: 0.9;

  filter: brightness(50%);
}

.inputField {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* height: 200px; */
}
.inputField1 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 200px; */
}

.inputField input {
  position: absolute;
  z-index: 1;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 40%;
  height: 47px;
  margin-left: 0rem;
  border: rgb(238, 232, 232) 1px solid;
  box-shadow: 1px 0px 10px 1px rgb(116, 114, 114);
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-left: 2rem;
  margin-top: 640px;
}

.inputField1 input {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 4rem;
  border: rgb(238, 232, 232) 1px solid;
  box-shadow: 1px 0px 10px 1px rgb(116, 114, 114);
  border-radius: 20px;
  font-size: 1.5rem;
  padding-left: 2rem;
  margin-top: 1000px;
}
.inputField button {
  position: absolute;
  z-index: 1;
  margin-top: 900px;
  /* margin-top: 50%;
  margin-left: 450px;
  margin-right: -450px; */
}
.inputField1 button {
  display: none;
}

.inputField input:focus {
  outline: none;
}
.inputField1 input:focus {
  outline: none;
}
::placeholder {
  padding-left: 0rem;
  color: rgb(34, 41, 41);
  font-size: 1rem;
}
.searchButton {
  position: absolute;
  width: 90px;
  height: 50px;
  background-color: rgb(62, 10, 131);
  border: none;
  cursor: pointer;
  color: aliceblue;
  border-radius: 7px;

  margin-top: 10rem;
}
.searchButton:hover {
  background-color: rgb(134, 79, 206);
}

.searchResult {
  margin: auto;
  max-width: 1200px;
}

.searchdata {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.searchResult {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dataSection {
  border: 1px solid rgb(206, 206, 206);
  box-shadow: 1px 1px 4px 1px rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  height: 20rem;
  width: 19rem;
  padding: 1rem;
}
.dataSection p {
  text-align: center;
}
.container {
  margin: auto;
  max-width: 1200px;
}
.footer {
  background-color: black;
}
.footer p {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
}
.footer h2 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: black;
  color: white;
}

.resultDescription {
  margin: auto;
  max-width: 1200px;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
}

.container1 {
  margin: auto;
  max-width: 1200px;
}
.contact-box {
  display: flex;
}
.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}
.contact-right {
  flex-basis: 60%;
  padding: 40px;
  background-color: #494949;
  color: #fff;
}
h1 {
  margin-bottom: 10px;
}
.container1 p {
  margin-bottom: 40px;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-group input {
  border: 1px solid black;
  width: 170px;
  height: 27px;
}
.input-row .input-group {
  flex-basis: 45%;
}
.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
.label {
  margin-bottom: 6px;
  display: block;
  color: #161616;
}
.contactButton {
  background: rgb(0, 0, 0);
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}
.contact-left h3 {
  color: #000000;
  font-weight: 600;
  margin-bottom: 30px;
}
table,
th,
td {
  background-color: #494949;
}
.contact-right h3 {
  background-color: #494949;
  font-weight: 600;
  margin-bottom: 30px;
}
tr td:first-child {
  padding-right: 20px;
}
tr td {
  padding-top: 20px;
}
tr,
td {
  background-color: #494949;
}

.section {
  margin: auto;
  max-width: 1200px;
  padding-top: 100px;
}
.container2 {
  display: flex;
  flex-direction: row;
}
.content-section {
  width: 49%;
  padding: 1rem;
}
.image-section {
  width: 49%;
  padding: 1rem;
}
.image-section img {
  width: 100%;
  height: auto;
}
.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
}
.content-section .content h3 {
  margin-top: 20px;
  color: #5d5d5d;
  font-size: 21px;
}
.content-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
.content-section .content .button {
  margin-top: 30px;
}
.content-section .content .button a {
  background-color: #3d3d3d;
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
}
.content-section .content .button a:hover {
  background-color: #a52a2a;
  color: #fff;
}
.content-section .social {
  margin: 40px 40px;
}
.content-section .social i {
  color: #a52a2a;
  font-size: 30px;
  padding: 0px 10px;
}
.content-section .social i:hover {
  color: #3d3d3d;
}
@media screen and (max-width: 768px) {
  .container2 {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section {
    float: none;
    width: 100%;
  }
  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .content-section .title {
    text-align: center;
    font-size: 19px;
  }
  .content-section .content .button {
    text-align: center;
  }
  .content-section .content .button a {
    padding: 9px 30px;
  }
  .content-section .social {
    text-align: center;
  }
}

.input-group input {
  padding: 0.25rem;
  margin-top: 0.5rem;
  width: 200px;
}
.contact-left h3 {
  font-size: 1.5rem;
}
.dataSection img {
  width: 270px;
  height: 160px;
  margin: 1rem;
  box-shadow: 1px 0px 10px 1px rgb(116, 114, 114);
}
